<div class="about">
    <div class="artistPicture">
        <%= image_tag 'artist-image.jpg', id: "profilePicture" %>
    </div>
    <div class="summary">
        <div class="artistSummary">
            <p id="bio">Rose Swartz is a writer and visual artist from Kalamazoo, Michigan. She currently lives in Portland, Oregon. She practices darkroom photography and primarily writes poetry. Contact her via email: rosa.swartz@gmail.com</p>
        </div>
    </div>
</div>