<div class="about">
    <div class="artistPicture">
        <%= image_tag 'artist-image.jpg', id: "profilePicture", alt: name %>
    </div>
    <div class="summary">
        <div class="artistSummary">
            <p id="bio"><%= summary %> Contact her via email: <%= mail_to email %></p>
        </div>
    </div>
</div>