<%
    data = { 
        images: {
            key: image_path('black_key.svg')
        },
        portfolio: portfolio
    }
%>
<div class="container">
    <h2 id="page-heading">Portfolio</h2>
    <%= content_tag :div, id: "portfolio-data", data: data.to_json do %>
    <% end %>
</div>

<%= javascript_pack_tag 'portfolio' %>
