<header class="main-header">
    <div id="menu">
        <div id="menu-title">
            <h1>Rose<br><span class="second">Swartz</span></h1>
        </div>
        <div id="menu-options">
            <ul>
                <li><%= link_to "About", home_path %></li>
                <li><%= link_to "Poems", poems_path %></li>
                <li><%= link_to "Portfolio", portfolio_path %></li>
                <li><%= link_to "Events", "" %></li>
            </ul>
        </div>
    </div>
</header>