<header class="main-header">
    <div id="menu">
        <div id="menu-title">
            <h1>Rose<br><span class="second">Swartz</span></h1>
        </div>
        <div id="menu-options">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/poems">Poems</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </div>
    </div>
</header>