<!DOCTYPE html>
<html>
  <%= render partial: "application/head" %>

  <body class="index">
    <div id="main-wrapper">

      <%= render partial: "application/header" %>

      <%= yield %>
      
    </div>
  </body>
</html>